.blue1{
    background:linear-gradient(orange,rgb(192, 201, 255));
    height:20rem;
    width:100%;
    text-align: center;
}
.blue1 h1{
    color:white;
}

.blue1 p{
    color:whitesmoke;
    font-size: 20px;
}
.trp{
    display: flex;
    justify-content: space-evenly;
}
.grop{
    margin-left: 2rem;
    margin-top: 1rem;
   
}
.neno{
    margin-top: 1rem;
    margin-right: 2rem;
}
.neno p{
    font-size: 20px;
}
#row{
    font-size:35px;
    text-align:center;
    font-weight:bold;
}
#appl{
    font-size:22px;
    font-weight:bold;
}
#orr{
    font-size:22px;
    font-weight:bold;
}
#cars{
    width:14rem;
    height:2rem;
}
.moy{
    border:2px solid gray;
    width:14rem;
    height:2rem;
    background-color:pink;
}
#area{
    background-color:rgb(212, 160, 169);
}
#has{
    border:none;background-Color:yellow;
    height:3rem;
    width:6rem;color:black;
    margin-top:1rem;
    border-radius:0.5rem;
}
.kom{
    background-Color: rgb(175, 212, 175);
    height:11rem;
}
#jam{
    font-size:22px;
    font-weight:bold;
}
@media(max-width:430px){
    .blue1{
        width: 135vw;
        font-size: 8px;
    }
    #row{
        text-align: center;
    }
    #appl{
        text-align: center;
        
    }
    .neno{
        margin-left: 2rem;
    }
    .grop{
        margin-left: 10rem;
    }
    .kom{
        width:135vw;
        padding: 3px;
    }
}