.imge1{
    background-image: url("./car-rental_bnr-1.webp");
    background-size:cover;
    
   
    height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}
.deep{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 2rem;

}
.now{
    width: 8rem;
    height: 3rem;
    text-align: center;
    background-color: rgb(250, 250, 70);
    border-radius: 1rem;
}
@media(max-width:430px){
    .imge1{
        width:135vw;
        height: 15rem;
        background-size:contain;
    
    }
}