.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    
}
.nav li{
    list-style: none;
    color: rgb(214, 203, 203);
 
}
.nav a{
    text-decoration: none;
    color:rgb(214, 203, 203);
}
.navimg{
    margin-top: 2rem;
    width:10rem;
}
.drop{
    margin-right:1rem;
}
.nav h2{
    color: white;
}
nav{
   
}
.icon1 {
    font-size: 40px;
    color:white;
    display: flex;
   
    
}
.icon1 i{
    padding: 1rem;
}
.hello1{
    background-color: yellow;
    margin-left:19rem;
    width:5rem;
    height: 4.5rem;
    text-align: center;
    
}
.hello2{
    background-color: yellow;
    margin-left: 13rem;
    position: relative;
    right: 8rem;
}
.del{
    display: flex;
    justify-content:space-around;
margin-top: 2rem;
   color: white;
   font-size: 22px;
}
.chan{
   
    background-color: rgb(104, 101, 101);
}
 @media(max-width:430px){
    .del{
        font-size: 15px;
    }
    .nav{
        
        font-size: 15px;
        
       
    }
      .chan{
        width: 135vw;
      }
    
    .navimg{
        width: 5rem;
    }
    .nav h2{
        font-size: 15px;
    }
    .mov,.tem,.drop{
        position: relative;
        top:4rem;
        right:5rem;
        padding: 1rem;
    }
    .icon1{
        position: relative;
        right:6rem;
    }
    .hello2{
    position: relative;
       
    }
  
}